@page
@model MyAspNetApp.Pages.ProductsCreateModel
@using Microsoft.AspNetCore.Mvc.Rendering


<h2>新增商品</h2>

<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label">商品圖片</label>
        <input type="file" class="form-control" name="photo" />
    </div>

    <div class="mb-3">
        <label asp-for="Product.Name">商品名稱</label>
        <input asp-for="Product.Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Product.Price">價格</label>
        <input asp-for="Product.Price" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Product.CategoryId">分類</label>
        <select asp-for="Product.CategoryId" class="form-select"
            asp-items="@(new SelectList(Model.CategoryList, "Id", "Name"))">
            <option value="">-- 請選擇分類 --</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">新增</button>
</form>
